/*  CONTAINER  */
.container-responsive{
  width: 100%;
  @include container;
}

.container {
  width: 90%;
  @include container;
  padding: 0;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/*  END CONTAINER  */

/*  GRID  */
.container, .container-responsive{
  @include columns (ex-small);
  .ex-small{
    @include autoWidth;
  }
}
.container, .container-responsive{
  @include container;
  @media (min-width: 768px) {
    @include columns (small);
    .small{
      @include autoWidth;
    }
  }
  @media (min-width: 992px) {
    @include columns (medium);
    .medium{
      @include autoWidth;
    }
  }
  @media (min-width: 1200px) {
    @include columns (large);
    .large{
      @include autoWidth;
    }
  }
}
/*  END GRID  */