$column-count: 12;
$column-width: 100%/$column-count;

@mixin container {
  @include baseFlexBox;
  @include flexDirection_row;
  @include flexWrap_wrap;
  @include flexJustify_fs;
  @include flexAlignItems_fs;
  @include flexAlignContent_fs;
}
@mixin columns ($name){
  @for $i from 1 through $column-count{
    .#{$name}-#{$i} {
      width: $column-width*$i;
      @include container;
    }
  }
}
@mixin autoWidth{
  @include container;
  flex-grow: 1;
  flex-basis: 0;
}
/*  ADAPTIVE CONTAINER  */
.container-responsive{
  width: 100%;
}
.container {
  padding: 0;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .container {
    width: 90%;
  }
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/*  END ADAPTIVE CONTAINER  */
/*  ADAPTIVE GRID  */
.container, .container-responsive{
  @include columns (ex-small);
  .ex-small{
    @include autoWidth;
  }
}
.container, .container-responsive{
  @include container;
  @media (min-width: 768px) {
    @include columns (small);
    .small{
      @include autoWidth;
    }
  }
  @media (min-width: 992px) {
    @include columns (medium);
    .medium{
      @include autoWidth;
    }
  }
  @media (min-width: 1200px) {
    @include columns (large);
    .large{
      @include autoWidth;
    }
  }
}
/*  END ADAPTIVE GRID  */

/*  OTHER  */
.column{
  -webkit-flex-direction: column!important;
  flex-direction: column!important;
}
.row-reverse{
  -webkit-flex-direction: row-reverse!important;
  flex-direction: row-reverse!important;
}
.column-reverse{
  -webkit-flex-direction: column-reverse!important;
  flex-direction: column-reverse!important;
}