@mixin baseFlexBox{
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  position: relative;
  box-sizing: border-box;
}
@mixin baseFlexBoxPos_abs{
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  position: absolute;
  box-sizing: border-box;
}
@mixin flexDirection_row{
  -webkit-flex-direction: row;
  flex-direction: row;
}
@mixin flexDirection_col{
  -webkit-flex-direction: column;
  flex-direction: column;
}
@mixin flexWrap_wrap{
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
@mixin flexWrap_nowrap{
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
@mixin flexJustify_fs{
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
@mixin flexJustify_c{
  -webkit-justify-content: center;
  justify-content: center;
}
@mixin flexJustify_fe{
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
@mixin flexAlignItems_fs{
  -webkit-align-items: flex-start;
  align-items: flex-start;
}
@mixin flexAlignItems_c{
  -webkit-align-items: center;
  align-items: center;
}
@mixin flexAlignItems_fe{
  -webkit-align-items: flex-end;
  align-items: flex-end;
}
@mixin flexAlignContent_fs{
  -webkit-align-content: flex-start;
  align-content: flex-start;
}
@mixin flexAlignContent_c{
  -webkit-align-content: center;
  align-content: center;
}
@mixin flexAlignContent_fe{
  -webkit-align-content: flex-end;
  align-content: flex-end;
}
@mixin transition ($delay){
  -webkit-transition: all $delay+ms ease-in-out;
  -moz-transition: all $delay+ms ease-in-out;
  -ms-transition: all $delay+ms ease-in-out;
  -o-transition: all $delay+ms ease-in-out;
  transition: all $delay+ms ease-in-out;
}

@import "_reset_tags";
@import "_grid";
@import "_indent";
@import "_alignment";
@import "_image";
@import "_text";
@import "_header";
@import "_hamburger";

//CSS
//TODO: ПЕРЕПИСАТЬ ВСЮ СЕТКУ НА АДЕКВАТНЫЙ ФЛЕКСБОКС, А НЕ ГОВНОВЫРАВНИАНИЯ...
//TODO: То есть, использовать flex-basis, сделать auto-width, использовать reordering на первый и последний по media
//DONE: Перейти на mobile-first. Т.е. убрать из media xs-правила.
//TODO: Поддержка древнего синтаксиса flexbox
//TODO: дописать _reset_tags
//TODO: indent mobile-first
//TODO: дописать _hamburger (в частности под dropdown menu)
//TODO: header dropdown:hover
//TODO: дописать _text em/pixels ???

//JS
//TODO: js: gallery
//TODO js: slider