$column-count: 12;
$column-width: 100%/$column-count;
$align-list: flex-start center flex-end;
$horizontal: (left, center, right);
$vertical: (top, center, bottom);

@import "_reset_tags";
/* CORE */
@import "_mixins";
@import "_grid";
@import "_indent";
@import "_alignment";
/* END CORE */
@import "_reordering";
@import "_grid_mods";
@import "_image";
@import "_text";
@import "_header";
@import "_hamburger";

//CSS
//TODO: align_self module by media
//TODO: reset_tags module
//TODO: Поддержка древнего синтаксиса flexbox!important
//TODO: дописать _hamburger (в частности под dropdown menu)
//TODO: header dropdown:hover
//TODO: дописать _text em/pixels ???

//TODO: dropdown by click

//JS
//TODO: gallery
//TODO: slider drag&drop
//TODO: scrolling
//TODO: accordion