/* line 1, ../sass/_reset_tags.scss */
body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

/* line 8, ../sass/_reset_tags.scss */
section, footer {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* line 14, ../sass/_reset_tags.scss */
nav {
  width: 100%;
}

/* line 17, ../sass/_reset_tags.scss */
header {
  width: 100%;
  margin: 0;
}

/* line 21, ../sass/_reset_tags.scss */
ul {
  list-style: none;
}

/* line 24, ../sass/_reset_tags.scss */
* {
  font-family: inherit;
}

/* line 27, ../sass/_reset_tags.scss */
a {
  color: inherit;
  text-decoration: none;
  transition: color 200ms ease-in-out;
  cursor: pointer;
}

/* line 33, ../sass/_reset_tags.scss */
iframe, p, img, table, ul, ol, li, div, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

/* line 37, ../sass/_reset_tags.scss */
span {
  font-size: 14px;
}

/*table tags*/
/* line 41, ../sass/_reset_tags.scss */
table {
  border-spacing: 0;
  border: 0;
}

/*form tags*/
/* line 46, ../sass/_reset_tags.scss */
input, button, textarea {
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  background: inherit;
}

/*  ADAPTIVE CONTAINER  */
/* line 26, ../sass/_grid.scss */
.container-responsive {
  width: 100%;
}

/* line 29, ../sass/_grid.scss */
.container {
  padding: 0;
  margin: 0 auto;
}

@media (max-width: 767px) {
  /* line 34, ../sass/_grid.scss */
  .container {
    width: 90%;
  }
}
@media (min-width: 768px) {
  /* line 39, ../sass/_grid.scss */
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  /* line 44, ../sass/_grid.scss */
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  /* line 49, ../sass/_grid.scss */
  .container {
    width: 1170px;
  }
}
/*  END ADAPTIVE CONTAINER  */
/*  ADAPTIVE GRID  */
/* line 14, ../sass/_grid.scss */
.container .ex-small-1, .container-responsive .ex-small-1 {
  width: 8.33333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  position: relative;
  box-sizing: border-box;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-align-content: flex-start;
  align-content: flex-start;
}
/* line 14, ../sass/_grid.scss */
.container .ex-small-2, .container-responsive .ex-small-2 {
  width: 16.66667%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  position: relative;
  box-sizing: border-box;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-align-content: flex-start;
  align-content: flex-start;
}
/* line 14, ../sass/_grid.scss */
.container .ex-small-3, .container-responsive .ex-small-3 {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  position: relative;
  box-sizing: border-box;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-align-content: flex-start;
  align-content: flex-start;
}
/* line 14, ../sass/_grid.scss */
.container .ex-small-4, .container-responsive .ex-small-4 {
  width: 33.33333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  position: relative;
  box-sizing: border-box;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-align-content: flex-start;
  align-content: flex-start;
}
/* line 14, ../sass/_grid.scss */
.container .ex-small-5, .container-responsive .ex-small-5 {
  width: 41.66667%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  position: relative;
  box-sizing: border-box;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-align-content: flex-start;
  align-content: flex-start;
}
/* line 14, ../sass/_grid.scss */
.container .ex-small-6, .container-responsive .ex-small-6 {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  position: relative;
  box-sizing: border-box;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-align-content: flex-start;
  align-content: flex-start;
}
/* line 14, ../sass/_grid.scss */
.container .ex-small-7, .container-responsive .ex-small-7 {
  width: 58.33333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  position: relative;
  box-sizing: border-box;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-align-content: flex-start;
  align-content: flex-start;
}
/* line 14, ../sass/_grid.scss */
.container .ex-small-8, .container-responsive .ex-small-8 {
  width: 66.66667%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  position: relative;
  box-sizing: border-box;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-align-content: flex-start;
  align-content: flex-start;
}
/* line 14, ../sass/_grid.scss */
.container .ex-small-9, .container-responsive .ex-small-9 {
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  position: relative;
  box-sizing: border-box;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-align-content: flex-start;
  align-content: flex-start;
}
/* line 14, ../sass/_grid.scss */
.container .ex-small-10, .container-responsive .ex-small-10 {
  width: 83.33333%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  position: relative;
  box-sizing: border-box;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-align-content: flex-start;
  align-content: flex-start;
}
/* line 14, ../sass/_grid.scss */
.container .ex-small-11, .container-responsive .ex-small-11 {
  width: 91.66667%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  position: relative;
  box-sizing: border-box;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-align-content: flex-start;
  align-content: flex-start;
}
/* line 14, ../sass/_grid.scss */
.container .ex-small-12, .container-responsive .ex-small-12 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  position: relative;
  box-sizing: border-box;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-align-content: flex-start;
  align-content: flex-start;
}
/* line 57, ../sass/_grid.scss */
.container .ex-small, .container-responsive .ex-small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  position: relative;
  box-sizing: border-box;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-align-content: flex-start;
  align-content: flex-start;
  flex-grow: 1;
  flex-basis: 0;
}

/* line 61, ../sass/_grid.scss */
.container, .container-responsive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  position: relative;
  box-sizing: border-box;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-align-content: flex-start;
  align-content: flex-start;
}
@media (min-width: 768px) {
  /* line 14, ../sass/_grid.scss */
  .container .small-1, .container-responsive .small-1 {
    width: 8.33333%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    position: relative;
    box-sizing: border-box;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-align-content: flex-start;
    align-content: flex-start;
  }
  /* line 14, ../sass/_grid.scss */
  .container .small-2, .container-responsive .small-2 {
    width: 16.66667%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    position: relative;
    box-sizing: border-box;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-align-content: flex-start;
    align-content: flex-start;
  }
  /* line 14, ../sass/_grid.scss */
  .container .small-3, .container-responsive .small-3 {
    width: 25%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    position: relative;
    box-sizing: border-box;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-align-content: flex-start;
    align-content: flex-start;
  }
  /* line 14, ../sass/_grid.scss */
  .container .small-4, .container-responsive .small-4 {
    width: 33.33333%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    position: relative;
    box-sizing: border-box;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-align-content: flex-start;
    align-content: flex-start;
  }
  /* line 14, ../sass/_grid.scss */
  .container .small-5, .container-responsive .small-5 {
    width: 41.66667%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    position: relative;
    box-sizing: border-box;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-align-content: flex-start;
    align-content: flex-start;
  }
  /* line 14, ../sass/_grid.scss */
  .container .small-6, .container-responsive .small-6 {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    position: relative;
    box-sizing: border-box;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-align-content: flex-start;
    align-content: flex-start;
  }
  /* line 14, ../sass/_grid.scss */
  .container .small-7, .container-responsive .small-7 {
    width: 58.33333%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    position: relative;
    box-sizing: border-box;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-align-content: flex-start;
    align-content: flex-start;
  }
  /* line 14, ../sass/_grid.scss */
  .container .small-8, .container-responsive .small-8 {
    width: 66.66667%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    position: relative;
    box-sizing: border-box;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-align-content: flex-start;
    align-content: flex-start;
  }
  /* line 14, ../sass/_grid.scss */
  .container .small-9, .container-responsive .small-9 {
    width: 75%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    position: relative;
    box-sizing: border-box;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-align-content: flex-start;
    align-content: flex-start;
  }
  /* line 14, ../sass/_grid.scss */
  .container .small-10, .container-responsive .small-10 {
    width: 83.33333%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    position: relative;
    box-sizing: border-box;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-align-content: flex-start;
    align-content: flex-start;
  }
  /* line 14, ../sass/_grid.scss */
  .container .small-11, .container-responsive .small-11 {
    width: 91.66667%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    position: relative;
    box-sizing: border-box;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-align-content: flex-start;
    align-content: flex-start;
  }
  /* line 14, ../sass/_grid.scss */
  .container .small-12, .container-responsive .small-12 {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    position: relative;
    box-sizing: border-box;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-align-content: flex-start;
    align-content: flex-start;
  }
  /* line 65, ../sass/_grid.scss */
  .container .small, .container-responsive .small {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    position: relative;
    box-sizing: border-box;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-align-content: flex-start;
    align-content: flex-start;
    flex-grow: 1;
    flex-basis: 0;
  }
}
@media (min-width: 992px) {
  /* line 14, ../sass/_grid.scss */
  .container .medium-1, .container-responsive .medium-1 {
    width: 8.33333%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    position: relative;
    box-sizing: border-box;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-align-content: flex-start;
    align-content: flex-start;
  }
  /* line 14, ../sass/_grid.scss */
  .container .medium-2, .container-responsive .medium-2 {
    width: 16.66667%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    position: relative;
    box-sizing: border-box;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-align-content: flex-start;
    align-content: flex-start;
  }
  /* line 14, ../sass/_grid.scss */
  .container .medium-3, .container-responsive .medium-3 {
    width: 25%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    position: relative;
    box-sizing: border-box;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-align-content: flex-start;
    align-content: flex-start;
  }
  /* line 14, ../sass/_grid.scss */
  .container .medium-4, .container-responsive .medium-4 {
    width: 33.33333%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    position: relative;
    box-sizing: border-box;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-align-content: flex-start;
    align-content: flex-start;
  }
  /* line 14, ../sass/_grid.scss */
  .container .medium-5, .container-responsive .medium-5 {
    width: 41.66667%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    position: relative;
    box-sizing: border-box;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-align-content: flex-start;
    align-content: flex-start;
  }
  /* line 14, ../sass/_grid.scss */
  .container .medium-6, .container-responsive .medium-6 {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    position: relative;
    box-sizing: border-box;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-align-content: flex-start;
    align-content: flex-start;
  }
  /* line 14, ../sass/_grid.scss */
  .container .medium-7, .container-responsive .medium-7 {
    width: 58.33333%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    position: relative;
    box-sizing: border-box;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-align-content: flex-start;
    align-content: flex-start;
  }
  /* line 14, ../sass/_grid.scss */
  .container .medium-8, .container-responsive .medium-8 {
    width: 66.66667%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    position: relative;
    box-sizing: border-box;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-align-content: flex-start;
    align-content: flex-start;
  }
  /* line 14, ../sass/_grid.scss */
  .container .medium-9, .container-responsive .medium-9 {
    width: 75%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    position: relative;
    box-sizing: border-box;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-align-content: flex-start;
    align-content: flex-start;
  }
  /* line 14, ../sass/_grid.scss */
  .container .medium-10, .container-responsive .medium-10 {
    width: 83.33333%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    position: relative;
    box-sizing: border-box;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-align-content: flex-start;
    align-content: flex-start;
  }
  /* line 14, ../sass/_grid.scss */
  .container .medium-11, .container-responsive .medium-11 {
    width: 91.66667%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    position: relative;
    box-sizing: border-box;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-align-content: flex-start;
    align-content: flex-start;
  }
  /* line 14, ../sass/_grid.scss */
  .container .medium-12, .container-responsive .medium-12 {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    position: relative;
    box-sizing: border-box;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-align-content: flex-start;
    align-content: flex-start;
  }
  /* line 71, ../sass/_grid.scss */
  .container .medium, .container-responsive .medium {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    position: relative;
    box-sizing: border-box;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-align-content: flex-start;
    align-content: flex-start;
    flex-grow: 1;
    flex-basis: 0;
  }
}
@media (min-width: 1200px) {
  /* line 14, ../sass/_grid.scss */
  .container .large-1, .container-responsive .large-1 {
    width: 8.33333%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    position: relative;
    box-sizing: border-box;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-align-content: flex-start;
    align-content: flex-start;
  }
  /* line 14, ../sass/_grid.scss */
  .container .large-2, .container-responsive .large-2 {
    width: 16.66667%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    position: relative;
    box-sizing: border-box;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-align-content: flex-start;
    align-content: flex-start;
  }
  /* line 14, ../sass/_grid.scss */
  .container .large-3, .container-responsive .large-3 {
    width: 25%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    position: relative;
    box-sizing: border-box;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-align-content: flex-start;
    align-content: flex-start;
  }
  /* line 14, ../sass/_grid.scss */
  .container .large-4, .container-responsive .large-4 {
    width: 33.33333%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    position: relative;
    box-sizing: border-box;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-align-content: flex-start;
    align-content: flex-start;
  }
  /* line 14, ../sass/_grid.scss */
  .container .large-5, .container-responsive .large-5 {
    width: 41.66667%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    position: relative;
    box-sizing: border-box;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-align-content: flex-start;
    align-content: flex-start;
  }
  /* line 14, ../sass/_grid.scss */
  .container .large-6, .container-responsive .large-6 {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    position: relative;
    box-sizing: border-box;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-align-content: flex-start;
    align-content: flex-start;
  }
  /* line 14, ../sass/_grid.scss */
  .container .large-7, .container-responsive .large-7 {
    width: 58.33333%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    position: relative;
    box-sizing: border-box;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-align-content: flex-start;
    align-content: flex-start;
  }
  /* line 14, ../sass/_grid.scss */
  .container .large-8, .container-responsive .large-8 {
    width: 66.66667%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    position: relative;
    box-sizing: border-box;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-align-content: flex-start;
    align-content: flex-start;
  }
  /* line 14, ../sass/_grid.scss */
  .container .large-9, .container-responsive .large-9 {
    width: 75%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    position: relative;
    box-sizing: border-box;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-align-content: flex-start;
    align-content: flex-start;
  }
  /* line 14, ../sass/_grid.scss */
  .container .large-10, .container-responsive .large-10 {
    width: 83.33333%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    position: relative;
    box-sizing: border-box;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-align-content: flex-start;
    align-content: flex-start;
  }
  /* line 14, ../sass/_grid.scss */
  .container .large-11, .container-responsive .large-11 {
    width: 91.66667%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    position: relative;
    box-sizing: border-box;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-align-content: flex-start;
    align-content: flex-start;
  }
  /* line 14, ../sass/_grid.scss */
  .container .large-12, .container-responsive .large-12 {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    position: relative;
    box-sizing: border-box;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-align-content: flex-start;
    align-content: flex-start;
  }
  /* line 77, ../sass/_grid.scss */
  .container .large, .container-responsive .large {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    position: relative;
    box-sizing: border-box;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-align-content: flex-start;
    align-content: flex-start;
    flex-grow: 1;
    flex-basis: 0;
  }
}

/*  END ADAPTIVE GRID  */
/*  OTHER  */
/* line 85, ../sass/_grid.scss */
.column {
  -webkit-flex-direction: column !important;
  flex-direction: column !important;
}

/* line 89, ../sass/_grid.scss */
.row-reverse {
  -webkit-flex-direction: row-reverse !important;
  flex-direction: row-reverse !important;
}

/* line 93, ../sass/_grid.scss */
.column-reverse {
  -webkit-flex-direction: column-reverse !important;
  flex-direction: column-reverse !important;
}

@media (max-width: 767px) {
  /* line 6, ../sass/_indent.scss */
  .container .indent-ex-small-left-1, .container-responsive .indent-ex-small-left-1 {
    margin-left: 8.33333%;
  }
  /* line 6, ../sass/_indent.scss */
  .container .indent-ex-small-left-2, .container-responsive .indent-ex-small-left-2 {
    margin-left: 16.66667%;
  }
  /* line 6, ../sass/_indent.scss */
  .container .indent-ex-small-left-3, .container-responsive .indent-ex-small-left-3 {
    margin-left: 25%;
  }
  /* line 6, ../sass/_indent.scss */
  .container .indent-ex-small-left-4, .container-responsive .indent-ex-small-left-4 {
    margin-left: 33.33333%;
  }
  /* line 6, ../sass/_indent.scss */
  .container .indent-ex-small-left-5, .container-responsive .indent-ex-small-left-5 {
    margin-left: 41.66667%;
  }
  /* line 6, ../sass/_indent.scss */
  .container .indent-ex-small-left-6, .container-responsive .indent-ex-small-left-6 {
    margin-left: 50%;
  }
  /* line 6, ../sass/_indent.scss */
  .container .indent-ex-small-left-7, .container-responsive .indent-ex-small-left-7 {
    margin-left: 58.33333%;
  }
  /* line 6, ../sass/_indent.scss */
  .container .indent-ex-small-left-8, .container-responsive .indent-ex-small-left-8 {
    margin-left: 66.66667%;
  }
  /* line 6, ../sass/_indent.scss */
  .container .indent-ex-small-left-9, .container-responsive .indent-ex-small-left-9 {
    margin-left: 75%;
  }
  /* line 6, ../sass/_indent.scss */
  .container .indent-ex-small-left-10, .container-responsive .indent-ex-small-left-10 {
    margin-left: 83.33333%;
  }
  /* line 6, ../sass/_indent.scss */
  .container .indent-ex-small-left-11, .container-responsive .indent-ex-small-left-11 {
    margin-left: 91.66667%;
  }
  /* line 6, ../sass/_indent.scss */
  .container .indent-ex-small-left-12, .container-responsive .indent-ex-small-left-12 {
    margin-left: 100%;
  }
  /* line 6, ../sass/_indent.scss */
  .container .indent-ex-small-right-1, .container-responsive .indent-ex-small-right-1 {
    margin-right: 8.33333%;
  }
  /* line 6, ../sass/_indent.scss */
  .container .indent-ex-small-right-2, .container-responsive .indent-ex-small-right-2 {
    margin-right: 16.66667%;
  }
  /* line 6, ../sass/_indent.scss */
  .container .indent-ex-small-right-3, .container-responsive .indent-ex-small-right-3 {
    margin-right: 25%;
  }
  /* line 6, ../sass/_indent.scss */
  .container .indent-ex-small-right-4, .container-responsive .indent-ex-small-right-4 {
    margin-right: 33.33333%;
  }
  /* line 6, ../sass/_indent.scss */
  .container .indent-ex-small-right-5, .container-responsive .indent-ex-small-right-5 {
    margin-right: 41.66667%;
  }
  /* line 6, ../sass/_indent.scss */
  .container .indent-ex-small-right-6, .container-responsive .indent-ex-small-right-6 {
    margin-right: 50%;
  }
  /* line 6, ../sass/_indent.scss */
  .container .indent-ex-small-right-7, .container-responsive .indent-ex-small-right-7 {
    margin-right: 58.33333%;
  }
  /* line 6, ../sass/_indent.scss */
  .container .indent-ex-small-right-8, .container-responsive .indent-ex-small-right-8 {
    margin-right: 66.66667%;
  }
  /* line 6, ../sass/_indent.scss */
  .container .indent-ex-small-right-9, .container-responsive .indent-ex-small-right-9 {
    margin-right: 75%;
  }
  /* line 6, ../sass/_indent.scss */
  .container .indent-ex-small-right-10, .container-responsive .indent-ex-small-right-10 {
    margin-right: 83.33333%;
  }
  /* line 6, ../sass/_indent.scss */
  .container .indent-ex-small-right-11, .container-responsive .indent-ex-small-right-11 {
    margin-right: 91.66667%;
  }
  /* line 6, ../sass/_indent.scss */
  .container .indent-ex-small-right-12, .container-responsive .indent-ex-small-right-12 {
    margin-right: 100%;
  }
}
@media (min-width: 768px) {
  /* line 6, ../sass/_indent.scss */
  .container .indent-small-left-1, .container-responsive .indent-small-left-1 {
    margin-left: 8.33333%;
  }
  /* line 6, ../sass/_indent.scss */
  .container .indent-small-left-2, .container-responsive .indent-small-left-2 {
    margin-left: 16.66667%;
  }
  /* line 6, ../sass/_indent.scss */
  .container .indent-small-left-3, .container-responsive .indent-small-left-3 {
    margin-left: 25%;
  }
  /* line 6, ../sass/_indent.scss */
  .container .indent-small-left-4, .container-responsive .indent-small-left-4 {
    margin-left: 33.33333%;
  }
  /* line 6, ../sass/_indent.scss */
  .container .indent-small-left-5, .container-responsive .indent-small-left-5 {
    margin-left: 41.66667%;
  }
  /* line 6, ../sass/_indent.scss */
  .container .indent-small-left-6, .container-responsive .indent-small-left-6 {
    margin-left: 50%;
  }
  /* line 6, ../sass/_indent.scss */
  .container .indent-small-left-7, .container-responsive .indent-small-left-7 {
    margin-left: 58.33333%;
  }
  /* line 6, ../sass/_indent.scss */
  .container .indent-small-left-8, .container-responsive .indent-small-left-8 {
    margin-left: 66.66667%;
  }
  /* line 6, ../sass/_indent.scss */
  .container .indent-small-left-9, .container-responsive .indent-small-left-9 {
    margin-left: 75%;
  }
  /* line 6, ../sass/_indent.scss */
  .container .indent-small-left-10, .container-responsive .indent-small-left-10 {
    margin-left: 83.33333%;
  }
  /* line 6, ../sass/_indent.scss */
  .container .indent-small-left-11, .container-responsive .indent-small-left-11 {
    margin-left: 91.66667%;
  }
  /* line 6, ../sass/_indent.scss */
  .container .indent-small-left-12, .container-responsive .indent-small-left-12 {
    margin-left: 100%;
  }
  /* line 6, ../sass/_indent.scss */
  .container .indent-small-right-1, .container-responsive .indent-small-right-1 {
    margin-right: 8.33333%;
  }
  /* line 6, ../sass/_indent.scss */
  .container .indent-small-right-2, .container-responsive .indent-small-right-2 {
    margin-right: 16.66667%;
  }
  /* line 6, ../sass/_indent.scss */
  .container .indent-small-right-3, .container-responsive .indent-small-right-3 {
    margin-right: 25%;
  }
  /* line 6, ../sass/_indent.scss */
  .container .indent-small-right-4, .container-responsive .indent-small-right-4 {
    margin-right: 33.33333%;
  }
  /* line 6, ../sass/_indent.scss */
  .container .indent-small-right-5, .container-responsive .indent-small-right-5 {
    margin-right: 41.66667%;
  }
  /* line 6, ../sass/_indent.scss */
  .container .indent-small-right-6, .container-responsive .indent-small-right-6 {
    margin-right: 50%;
  }
  /* line 6, ../sass/_indent.scss */
  .container .indent-small-right-7, .container-responsive .indent-small-right-7 {
    margin-right: 58.33333%;
  }
  /* line 6, ../sass/_indent.scss */
  .container .indent-small-right-8, .container-responsive .indent-small-right-8 {
    margin-right: 66.66667%;
  }
  /* line 6, ../sass/_indent.scss */
  .container .indent-small-right-9, .container-responsive .indent-small-right-9 {
    margin-right: 75%;
  }
  /* line 6, ../sass/_indent.scss */
  .container .indent-small-right-10, .container-responsive .indent-small-right-10 {
    margin-right: 83.33333%;
  }
  /* line 6, ../sass/_indent.scss */
  .container .indent-small-right-11, .container-responsive .indent-small-right-11 {
    margin-right: 91.66667%;
  }
  /* line 6, ../sass/_indent.scss */
  .container .indent-small-right-12, .container-responsive .indent-small-right-12 {
    margin-right: 100%;
  }
}
@media (min-width: 992px) {
  /* line 6, ../sass/_indent.scss */
  .container .indent-medium-left-1, .container-responsive .indent-medium-left-1 {
    margin-left: 8.33333%;
  }
  /* line 6, ../sass/_indent.scss */
  .container .indent-medium-left-2, .container-responsive .indent-medium-left-2 {
    margin-left: 16.66667%;
  }
  /* line 6, ../sass/_indent.scss */
  .container .indent-medium-left-3, .container-responsive .indent-medium-left-3 {
    margin-left: 25%;
  }
  /* line 6, ../sass/_indent.scss */
  .container .indent-medium-left-4, .container-responsive .indent-medium-left-4 {
    margin-left: 33.33333%;
  }
  /* line 6, ../sass/_indent.scss */
  .container .indent-medium-left-5, .container-responsive .indent-medium-left-5 {
    margin-left: 41.66667%;
  }
  /* line 6, ../sass/_indent.scss */
  .container .indent-medium-left-6, .container-responsive .indent-medium-left-6 {
    margin-left: 50%;
  }
  /* line 6, ../sass/_indent.scss */
  .container .indent-medium-left-7, .container-responsive .indent-medium-left-7 {
    margin-left: 58.33333%;
  }
  /* line 6, ../sass/_indent.scss */
  .container .indent-medium-left-8, .container-responsive .indent-medium-left-8 {
    margin-left: 66.66667%;
  }
  /* line 6, ../sass/_indent.scss */
  .container .indent-medium-left-9, .container-responsive .indent-medium-left-9 {
    margin-left: 75%;
  }
  /* line 6, ../sass/_indent.scss */
  .container .indent-medium-left-10, .container-responsive .indent-medium-left-10 {
    margin-left: 83.33333%;
  }
  /* line 6, ../sass/_indent.scss */
  .container .indent-medium-left-11, .container-responsive .indent-medium-left-11 {
    margin-left: 91.66667%;
  }
  /* line 6, ../sass/_indent.scss */
  .container .indent-medium-left-12, .container-responsive .indent-medium-left-12 {
    margin-left: 100%;
  }
  /* line 6, ../sass/_indent.scss */
  .container .indent-medium-right-1, .container-responsive .indent-medium-right-1 {
    margin-right: 8.33333%;
  }
  /* line 6, ../sass/_indent.scss */
  .container .indent-medium-right-2, .container-responsive .indent-medium-right-2 {
    margin-right: 16.66667%;
  }
  /* line 6, ../sass/_indent.scss */
  .container .indent-medium-right-3, .container-responsive .indent-medium-right-3 {
    margin-right: 25%;
  }
  /* line 6, ../sass/_indent.scss */
  .container .indent-medium-right-4, .container-responsive .indent-medium-right-4 {
    margin-right: 33.33333%;
  }
  /* line 6, ../sass/_indent.scss */
  .container .indent-medium-right-5, .container-responsive .indent-medium-right-5 {
    margin-right: 41.66667%;
  }
  /* line 6, ../sass/_indent.scss */
  .container .indent-medium-right-6, .container-responsive .indent-medium-right-6 {
    margin-right: 50%;
  }
  /* line 6, ../sass/_indent.scss */
  .container .indent-medium-right-7, .container-responsive .indent-medium-right-7 {
    margin-right: 58.33333%;
  }
  /* line 6, ../sass/_indent.scss */
  .container .indent-medium-right-8, .container-responsive .indent-medium-right-8 {
    margin-right: 66.66667%;
  }
  /* line 6, ../sass/_indent.scss */
  .container .indent-medium-right-9, .container-responsive .indent-medium-right-9 {
    margin-right: 75%;
  }
  /* line 6, ../sass/_indent.scss */
  .container .indent-medium-right-10, .container-responsive .indent-medium-right-10 {
    margin-right: 83.33333%;
  }
  /* line 6, ../sass/_indent.scss */
  .container .indent-medium-right-11, .container-responsive .indent-medium-right-11 {
    margin-right: 91.66667%;
  }
  /* line 6, ../sass/_indent.scss */
  .container .indent-medium-right-12, .container-responsive .indent-medium-right-12 {
    margin-right: 100%;
  }
}
@media (min-width: 1200px) {
  /* line 6, ../sass/_indent.scss */
  .container .indent-large-left-1, .container-responsive .indent-large-left-1 {
    margin-left: 8.33333%;
  }
  /* line 6, ../sass/_indent.scss */
  .container .indent-large-left-2, .container-responsive .indent-large-left-2 {
    margin-left: 16.66667%;
  }
  /* line 6, ../sass/_indent.scss */
  .container .indent-large-left-3, .container-responsive .indent-large-left-3 {
    margin-left: 25%;
  }
  /* line 6, ../sass/_indent.scss */
  .container .indent-large-left-4, .container-responsive .indent-large-left-4 {
    margin-left: 33.33333%;
  }
  /* line 6, ../sass/_indent.scss */
  .container .indent-large-left-5, .container-responsive .indent-large-left-5 {
    margin-left: 41.66667%;
  }
  /* line 6, ../sass/_indent.scss */
  .container .indent-large-left-6, .container-responsive .indent-large-left-6 {
    margin-left: 50%;
  }
  /* line 6, ../sass/_indent.scss */
  .container .indent-large-left-7, .container-responsive .indent-large-left-7 {
    margin-left: 58.33333%;
  }
  /* line 6, ../sass/_indent.scss */
  .container .indent-large-left-8, .container-responsive .indent-large-left-8 {
    margin-left: 66.66667%;
  }
  /* line 6, ../sass/_indent.scss */
  .container .indent-large-left-9, .container-responsive .indent-large-left-9 {
    margin-left: 75%;
  }
  /* line 6, ../sass/_indent.scss */
  .container .indent-large-left-10, .container-responsive .indent-large-left-10 {
    margin-left: 83.33333%;
  }
  /* line 6, ../sass/_indent.scss */
  .container .indent-large-left-11, .container-responsive .indent-large-left-11 {
    margin-left: 91.66667%;
  }
  /* line 6, ../sass/_indent.scss */
  .container .indent-large-left-12, .container-responsive .indent-large-left-12 {
    margin-left: 100%;
  }
  /* line 6, ../sass/_indent.scss */
  .container .indent-large-right-1, .container-responsive .indent-large-right-1 {
    margin-right: 8.33333%;
  }
  /* line 6, ../sass/_indent.scss */
  .container .indent-large-right-2, .container-responsive .indent-large-right-2 {
    margin-right: 16.66667%;
  }
  /* line 6, ../sass/_indent.scss */
  .container .indent-large-right-3, .container-responsive .indent-large-right-3 {
    margin-right: 25%;
  }
  /* line 6, ../sass/_indent.scss */
  .container .indent-large-right-4, .container-responsive .indent-large-right-4 {
    margin-right: 33.33333%;
  }
  /* line 6, ../sass/_indent.scss */
  .container .indent-large-right-5, .container-responsive .indent-large-right-5 {
    margin-right: 41.66667%;
  }
  /* line 6, ../sass/_indent.scss */
  .container .indent-large-right-6, .container-responsive .indent-large-right-6 {
    margin-right: 50%;
  }
  /* line 6, ../sass/_indent.scss */
  .container .indent-large-right-7, .container-responsive .indent-large-right-7 {
    margin-right: 58.33333%;
  }
  /* line 6, ../sass/_indent.scss */
  .container .indent-large-right-8, .container-responsive .indent-large-right-8 {
    margin-right: 66.66667%;
  }
  /* line 6, ../sass/_indent.scss */
  .container .indent-large-right-9, .container-responsive .indent-large-right-9 {
    margin-right: 75%;
  }
  /* line 6, ../sass/_indent.scss */
  .container .indent-large-right-10, .container-responsive .indent-large-right-10 {
    margin-right: 83.33333%;
  }
  /* line 6, ../sass/_indent.scss */
  .container .indent-large-right-11, .container-responsive .indent-large-right-11 {
    margin-right: 91.66667%;
  }
  /* line 6, ../sass/_indent.scss */
  .container .indent-large-right-12, .container-responsive .indent-large-right-12 {
    margin-right: 100%;
  }
}
/* line 6, ../sass/_indent.scss */
.indent-top-1 {
  padding-top: 10px;
}

/* line 6, ../sass/_indent.scss */
.indent-top-2 {
  padding-top: 20px;
}

/* line 6, ../sass/_indent.scss */
.indent-top-3 {
  padding-top: 30px;
}

/* line 6, ../sass/_indent.scss */
.indent-top-4 {
  padding-top: 40px;
}

/* line 6, ../sass/_indent.scss */
.indent-top-5 {
  padding-top: 50px;
}

/* line 6, ../sass/_indent.scss */
.indent-top-6 {
  padding-top: 60px;
}

/* line 6, ../sass/_indent.scss */
.indent-top-7 {
  padding-top: 70px;
}

/* line 6, ../sass/_indent.scss */
.indent-top-8 {
  padding-top: 80px;
}

/* line 6, ../sass/_indent.scss */
.indent-top-9 {
  padding-top: 90px;
}

/* line 6, ../sass/_indent.scss */
.indent-top-10 {
  padding-top: 100px;
}

/* line 6, ../sass/_indent.scss */
.indent-top-11 {
  padding-top: 110px;
}

/* line 6, ../sass/_indent.scss */
.indent-top-12 {
  padding-top: 120px;
}

/* line 6, ../sass/_indent.scss */
.indent-bottom-1 {
  padding-bottom: 10px;
}

/* line 6, ../sass/_indent.scss */
.indent-bottom-2 {
  padding-bottom: 20px;
}

/* line 6, ../sass/_indent.scss */
.indent-bottom-3 {
  padding-bottom: 30px;
}

/* line 6, ../sass/_indent.scss */
.indent-bottom-4 {
  padding-bottom: 40px;
}

/* line 6, ../sass/_indent.scss */
.indent-bottom-5 {
  padding-bottom: 50px;
}

/* line 6, ../sass/_indent.scss */
.indent-bottom-6 {
  padding-bottom: 60px;
}

/* line 6, ../sass/_indent.scss */
.indent-bottom-7 {
  padding-bottom: 70px;
}

/* line 6, ../sass/_indent.scss */
.indent-bottom-8 {
  padding-bottom: 80px;
}

/* line 6, ../sass/_indent.scss */
.indent-bottom-9 {
  padding-bottom: 90px;
}

/* line 6, ../sass/_indent.scss */
.indent-bottom-10 {
  padding-bottom: 100px;
}

/* line 6, ../sass/_indent.scss */
.indent-bottom-11 {
  padding-bottom: 110px;
}

/* line 6, ../sass/_indent.scss */
.indent-bottom-12 {
  padding-bottom: 120px;
}

/*  ALIGN  */
/* line 7, ../sass/_alignment.scss */
.row-vertical-top {
  align-items: flex-start !important;
  -webkit-align-items: flex-start !important;
}

/* line 7, ../sass/_alignment.scss */
.row-vertical-center {
  align-items: center !important;
  -webkit-align-items: center !important;
}

/* line 7, ../sass/_alignment.scss */
.row-vertical-bottom {
  align-items: flex-end !important;
  -webkit-align-items: flex-end !important;
}

/* line 7, ../sass/_alignment.scss */
.column-vertical-top {
  justify-content: flex-start !important;
  -webkit-justify-content: flex-start !important;
}

/* line 7, ../sass/_alignment.scss */
.column-vertical-center {
  justify-content: center !important;
  -webkit-justify-content: center !important;
}

/* line 7, ../sass/_alignment.scss */
.column-vertical-bottom {
  justify-content: flex-end !important;
  -webkit-justify-content: flex-end !important;
}

/* line 17, ../sass/_alignment.scss */
.row-start {
  justify-content: flex-start !important;
  -webkit-justify-content: flex-start !important;
}

/* line 17, ../sass/_alignment.scss */
.row-center {
  justify-content: center !important;
  -webkit-justify-content: center !important;
}

/* line 17, ../sass/_alignment.scss */
.row-end {
  justify-content: flex-end !important;
  -webkit-justify-content: flex-end !important;
}

/* line 17, ../sass/_alignment.scss */
.column-start {
  align-items: flex-start !important;
  -webkit-align-items: flex-start !important;
}

/* line 17, ../sass/_alignment.scss */
.column-center {
  align-items: center !important;
  -webkit-align-items: center !important;
}

/* line 17, ../sass/_alignment.scss */
.column-end {
  align-items: flex-end !important;
  -webkit-align-items: flex-end !important;
}

/*  END ALIGN  */
/* line 1, ../sass/_image.scss */
.img-stretch-width {
  width: 100%;
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

/* line 9, ../sass/_image.scss */
.img-stretch-height {
  width: auto;
  display: block;
  height: 100%;
  max-height: 100%;
  margin: 0;
  padding: 0;
}

/* line 17, ../sass/_image.scss */
.bg-cover {
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: padding-box;
  background-origin: padding-box;
  background-position: center center;
}

/* line 24, ../sass/_image.scss */
.bg-contain {
  background-repeat: no-repeat;
  background-size: contain;
  background-clip: padding-box;
  background-position: center center;
  background-origin: padding-box;
}

/* line 2, ../sass/_text.scss */
.text-10 {
  font-size: 10px;
}

/* line 2, ../sass/_text.scss */
.text-12 {
  font-size: 12px;
}

/* line 2, ../sass/_text.scss */
.text-14 {
  font-size: 14px;
}

/* line 2, ../sass/_text.scss */
.text-16 {
  font-size: 16px;
}

/* line 2, ../sass/_text.scss */
.text-18 {
  font-size: 18px;
}

/* line 2, ../sass/_text.scss */
.text-20 {
  font-size: 20px;
}

/* line 2, ../sass/_text.scss */
.text-22 {
  font-size: 22px;
}

/* line 2, ../sass/_text.scss */
.text-24 {
  font-size: 24px;
}

/* line 2, ../sass/_text.scss */
.text-26 {
  font-size: 26px;
}

/* line 2, ../sass/_text.scss */
.text-28 {
  font-size: 28px;
}

/* line 2, ../sass/_text.scss */
.text-30 {
  font-size: 30px;
}

/* line 2, ../sass/_text.scss */
.text-32 {
  font-size: 32px;
}

/* line 2, ../sass/_text.scss */
.text-34 {
  font-size: 34px;
}

/* line 2, ../sass/_text.scss */
.text-36 {
  font-size: 36px;
}

/* line 2, ../sass/_text.scss */
.text-38 {
  font-size: 38px;
}

/* line 2, ../sass/_text.scss */
.text-40 {
  font-size: 40px;
}

/* line 2, ../sass/_text.scss */
.text-42 {
  font-size: 42px;
}

/* line 2, ../sass/_text.scss */
.text-44 {
  font-size: 44px;
}

/* line 2, ../sass/_text.scss */
.text-46 {
  font-size: 46px;
}

/* line 2, ../sass/_text.scss */
.text-48 {
  font-size: 48px;
}

/* line 2, ../sass/_text.scss */
.text-50 {
  font-size: 50px;
}

/* line 6, ../sass/_text.scss */
.text-center {
  text-align: center;
}

/* line 9, ../sass/_text.scss */
.text-left {
  text-align: left;
}

/* line 12, ../sass/_text.scss */
.text-right {
  text-align: right;
}

/* line 15, ../sass/_text.scss */
.text-uppercase {
  text-transform: uppercase;
}

/* line 18, ../sass/_text.scss */
.text-lowercase {
  text-transform: lowercase;
}

/* line 27, ../sass/_header.scss */
header {
  position: fixed;
  width: 100%;
  margin: 0;
  padding: 0 15px;
  box-sizing: border-box;
  z-index: 10;
}
/* line 34, ../sass/_header.scss */
header > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  position: relative;
  box-sizing: border-box;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-align-content: flex-start;
  align-content: flex-start;
  width: 100%;
  padding: 0;
  margin: 10px 0;
  list-style-type: none;
}
/* line 40, ../sass/_header.scss */
header > ul li {
  position: relative;
  display: inline-block;
  width: auto;
  height: auto;
  margin: 0 20px;
  z-index: 1;
}
/* line 49, ../sass/_header.scss */
header > ul .dropdown ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-align-content: flex-start;
  align-content: flex-start;
  top: 100%;
  left: 0;
  width: 100%;
  margin: 0;
  z-index: -1;
  visibility: hidden;
  background: #fff;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  opacity: 0;
}
/* line 60, ../sass/_header.scss */
header > ul .dropdown ul li {
  display: flex;
  width: 100%;
  height: auto;
  margin: 0 10px;
  text-align: left;
}
/* line 68, ../sass/_header.scss */
header > ul .dropdown:hover ul {
  opacity: 1;
  visibility: visible;
  z-index: 1;
}

@media (max-width: 1024px) {
  /* line 5, ../sass/_hamburger.scss */
  header > .menu {
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
  }
  /* line 11, ../sass/_hamburger.scss */
  header > .menu > li {
    width: 90%;
    margin: 0 auto;
    height: 0;
    line-height: 30px;
    overflow: hidden;
    transition: all 300ms ease-in-out;
  }
  /* line 19, ../sass/_hamburger.scss */
  header > .menu .dropdown ul {
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0;
    z-index: 15;
  }
  /* line 27, ../sass/_hamburger.scss */
  header > .menu .dropdown ul > li {
    width: 90%;
    margin: 0 auto;
    height: 0;
    overflow: hidden;
    transition: all 300ms ease-in-out;
  }
  /* line 35, ../sass/_hamburger.scss */
  header > .menu .logo {
    width: auto;
    height: auto !important;
    line-height: normal;
  }
  /* line 40, ../sass/_hamburger.scss */
  header > .menu:before, header > .menu:after {
    content: '';
    position: absolute;
    display: inline-block;
    height: 4px;
    width: 30px;
    right: 35px;
    border-radius: 5px;
    background: #000;
    cursor: pointer;
    transition: all 300ms ease-in-out;
  }
  /* line 52, ../sass/_hamburger.scss */
  header > .menu:before {
    top: 10px;
  }
  /* line 55, ../sass/_hamburger.scss */
  header > .menu:after {
    top: 20px;
  }
  /* line 60, ../sass/_hamburger.scss */
  header .hamburger_active > li {
    height: auto;
  }
  /* line 63, ../sass/_hamburger.scss */
  header .hamburger_active > .dropdown_active ul {
    margin: 10px 0;
  }
  /* line 65, ../sass/_hamburger.scss */
  header .hamburger_active > .dropdown_active ul > li {
    height: auto;
    background: #00B400;
  }
  /* line 70, ../sass/_hamburger.scss */
  header .hamburger_active:before {
    top: 20px;
    transform: rotate(45deg);
  }
  /* line 74, ../sass/_hamburger.scss */
  header .hamburger_active:after {
    top: 20px;
    transform: rotate(-45deg);
  }
}
