/* line 2, ../sass/text.scss */
.text-10 {
  font-size: 10px;
}

/* line 2, ../sass/text.scss */
.text-12 {
  font-size: 12px;
}

/* line 2, ../sass/text.scss */
.text-14 {
  font-size: 14px;
}

/* line 2, ../sass/text.scss */
.text-16 {
  font-size: 16px;
}

/* line 2, ../sass/text.scss */
.text-18 {
  font-size: 18px;
}

/* line 2, ../sass/text.scss */
.text-20 {
  font-size: 20px;
}

/* line 2, ../sass/text.scss */
.text-22 {
  font-size: 22px;
}

/* line 2, ../sass/text.scss */
.text-24 {
  font-size: 24px;
}

/* line 2, ../sass/text.scss */
.text-26 {
  font-size: 26px;
}

/* line 2, ../sass/text.scss */
.text-28 {
  font-size: 28px;
}

/* line 2, ../sass/text.scss */
.text-30 {
  font-size: 30px;
}

/* line 6, ../sass/text.scss */
.text-center {
  text-align: center;
}
